
body{
	background: url(images/beach.png) no-repeat;
}
 .full_container{
	width:600px;
	height: 500px;
	border: 5px solid #81933D;
	margin:20px auto;
	position: relative;
	border-radius: 25px;


   animation-name: amit;
	animation-duration: 7s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-delay: 1s;
} 
.fix{overflow: hidden;}

.logo{
      float: left;
    border: 3px solid blue;
    background: #882915;
    color: coral;
    width: 140px;
    height: 87px;
    border-radius: 20%;
    cursor: pointer;
    position: relative;

     animation-name: amit1;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-delay: 1s;


}
.logo h1{    margin-left: 32px;font-family: verdana;}
.logo:hover{
   background: #603919;
   color:#574F2D;
}
.menu{
	    float: right;
    border: 3px solid yellow;
    background: #BDB83A;
    color: blue;
    width: 120px;
    height: 80px;
    border-radius: 18%;
    cursor: pointer;
    position:relative;
    z-index: 100;

    animation-name: amit2;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-delay: 1s;



}
.menu h1{    margin-left: 27px;font-family: sans-serif;}
.menu:hover{
	background: #404754;
	color:#423D22;
}
.content{
    
	position: absolute;
    left: 38%;
    top: 40%;
    background: #ddd;
    width: 159px;
    height: 85px;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    color:black;

    animation-name: amit4;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-delay: 1s;
}
.content h1{font-family: 'Pacifico', cursive;}
.content:hover{background: black;}
		
.arrow{
	position: absolute;
    left: 86%;
    top: 86%;
    padding: 13px;
    background: red;
    border-radius: 58px;
    width: 20px;
    height: 20px;
    border: 5px solid blue;
    cursor: pointer;

   
    animation-name: amit3;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-delay: 1s;

    

}
.arrow:hover{
	background: orange;
}

.footer{
	    position: absolute;
    left: 13px;
    bottom: 0;
    color: #fff;
    font-size: 15px;
    font-family: arial;
      cursor: pointer;
}
.footer p{font-family: 'Pacifico', cursive;}

 @keyframes amit{
	from{left:0;}
	to{left:220px;background: #CD35FC;opacity: 0.5}
} 
@keyframes amit1{
		from{left:0;}
	to{left:50px;background:#FFCF01;opacity: 0.5}
}
@keyframes amit2{
	from{top:0;}
	to{top:10px;background:#C3FE02;opacity: 0.5;color:#fff;}
}


@keyframes amit3{
	from{right:0;}
	to{right:10px;background:#0C6A0C;opacity: 0.5;}
}

@keyframes amit4{
	from{right:0;}
	to{right:10px;background:#0C6A0C;opacity: 0.5;color:#ddd;}
}
